TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_SECRET=

GROQ_API_KEY=

POSTGRES_DB=saramudbot
POSTGRES_USER=saramudbot
POSTGRES_PASSWORD=

N8N_BASE_URL=https://your-n8n-domain.com
NOCODB_BASE_URL=http://localhost:8080
